#bodydiv {
  overflow-x: hidden;
  padding-bottom: 400px; 
}

@media only screen and (max-width: 991px){
  #bodydiv{
    padding-bottom: 600px; 
  }
}


#footerdiv {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  /* height: 400px;  */
}

#htmldiv{
  position: relative;
  min-height: 100vh;
}