* {
box-sizing: border-box;
}

.mobile-space-carousel {
  margin-top: 50px;
}


@media screen and (max-width: 967px) {
  .mobile-space-carousel {margin-top:50px; }

  .bit-margin-phone {margin-bottom: 50px;}

}


@media screen and (max-width: 785px) {
  .mobile-space-carousel {margin-top:0px; }

}

  /* @media only screen and (max-width: 1085px) and (min-width: 991px)  {
    .smaller-text-header {font-size: 14px}
  }
   */

  @media screen and (max-width: 1280px) {
    .dont-display {display: none}
    }



    .hoverlink:hover {
      text-decoration: none;
      text-decoration: underline;
      color: black; 

    }

    .hoverlink{
      text-decoration: none;
      color: black; 

    }


    .hoverlinkcontact {
      text-decoration: none;
      color: black; 
    }

    .hoverlinkcontact:hover {
      text-decoration: none;
      color: #305017; 

    }

    .gotoProduct:hover {
      background-color: #8fa663;
      color: white; 
      border: 1px solid white;
      text-decoration: none;
    }

    .gotoProduct{
      background-color: #d3d3d3; 
      border: 1px solid white;
      text-decoration: none;
      color: #272727;
      padding: 5px 10px;
      border-radius: 20px; 
      font-size: 14px;
      margin-left: 10px
    }

    @media only screen and (max-width: 1167px) and (min-width: 991px)  {
      .gotoProduct{
        background-color: #d3d3d3; 
        border: 1px solid white;
        text-decoration: none;
        color: #272727;
        padding: 5px 10px;
        border-radius: 20px; 
        font-size: 10px;
        margin-left: 10px;
      }
    }