* {
box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.mobile-space-carousel {
  margin-top: 50px;
}


@media screen and (max-width: 967px) {
  .mobile-space-carousel {margin-top:50px; }

  .bit-margin-phone {margin-bottom: 50px;}

}


@media screen and (max-width: 420px) {
  .smaller-phone-th {}


}




@media screen and (max-width: 785px) {
  .mobile-space-carousel {margin-top:0px; }

}

  /* @media only screen and (max-width: 1085px) and (min-width: 991px)  {
    .smaller-text-header {font-size: 14px}
  }
   */

  @media screen and (max-width: 1280px) {
    .dont-display {display: none}
    }



    .hoverlink:hover {
      text-decoration: none;
      text-decoration: underline;
      color: black; 

    }

    .hoverlink{
      text-decoration: none;
      color: black; 

    }


    .hoverlinkcontact {
      text-decoration: none;
      color: black; 
    }

    .hoverlinkcontact:hover {
      text-decoration: none;
      color: #305017; 

    }

    .gotoProduct:hover {
      background-color: #8fa663;
      color: white; 
      border: 1px solid white;
      text-decoration: none;
    }

    .gotoProduct{
      background-color: #d3d3d3; 
      border: 1px solid white;
      text-decoration: none;
      color: #272727;
      padding: 5px 10px;
      border-radius: 20px; 
      font-size: 14px;
      margin-left: 10px
    }

    @media only screen and (max-width: 1167px) and (min-width: 991px)  {
      .gotoProduct{
        background-color: #d3d3d3; 
        border: 1px solid white;
        text-decoration: none;
        color: #272727;
        padding: 5px 10px;
        border-radius: 20px; 
        font-size: 10px;
        margin-left: 10px;
      }
    }


    .hovernav:hover{
    background-color: #f0f0f0
    }

    .hovernav {
      display: inline-block;

    }
 

    .dltbtn:hover {
      color: #bb0000
    }

    .dltbtn {
      border-radius: 50%;
      border: none;
      padding: 0px 8px;
      color: #a12d24;
      font-weight: bold;
      background-color: white; 
      font-size: 17px; 
      padding-left: 20px; 
    }

  
    @media screen and (max-width: 476px) {
      .signToRemove {display: none }
    
    }


    .shopHome {
      position: absolute;
      color: white;
      font-size: 50px;
      padding-left: 50px;
      padding-top: 100px; 
    }


.shopSquare {

  position: absolute;
  top: 470px;
  padding: 10px 20px;
  left: 43%;
  text-decoration: none;
  font-size: 40px;
  color: white;
  border: 3px white solid;
  background-color: rgba(69,51,63, 0.5);

}
.shopSquare:hover {
  color: white; 
}

@media screen and (max-width: 760px) {
  .shopSquare {left: 30%; }
    
}
    
  
