* {
  direction: rtl;
}

.mobile-space-carousel {
  margin-top: 50px;
}


@media screen and (max-width: 967px) {
  .mobile-space-carousel {margin-top:0px; }

  .bit-left-phone {margin-left: 50px; margin-bottom: 50px}

  }

  @media screen and (max-width: 1280px) {

    .dont-display {display: none}
    }